@{
    ViewBag.Title = "Developers";
}

<section class="content-header">
    <h1>
        &nbsp;
    </h1>
    <ol class="breadcrumb">
        <li class="active"><a href="#"><i class="fa fa-question-circle"></i> Developers</a></li>

    </ol>
</section>

<section class="content">
    <div class="box">
        <div class="box-body">
            <div class="row text-center">
                <h1> The Developers </h1>
                <br />
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="@Url.Content("~/Content/pics/123523532423.jpg")" alt="" />
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content">
                            <h3 class="title">NATHAN</h3>
                            <small class="post">Programmer</small>
                            <small>Email: <b>mail@example.com</b></small>
                        </div>
                        <div class="team-layer">
                            <a href="#">NATHANIEL C. GAMO</a>
                            <span class="post">Programmer</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="@Url.Content("~/Content/pics/373871_2963097237013_972355738_n.jpg")"  alt="" />
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content">
                            <h3 class="title">JANUS</h3>
                            <small class="post"> &nbsp; </small>
                            <small>Email: <b>mail@example.com</b></small>
                        </div>
                        <div class="team-layer">
                            <a href="#">JANUS ROMANO M. MANUEL</a>
                            <span class="post">&nbsp;</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="@Url.Content("~/Content/pics/537843_422927334403978_1148352478_n.jpg")" alt="" />
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content">
                            <h3 class="title">NOEL</h3>
                            <small class="post">&nbsp;</small>
                            <small>Email: <b>mail@example.com</b></small>
                        </div>
                        <div class="team-layer">
                            <a href="#">JOHN NOEL J. SONAJO</a>
                            <span class="post">&nbsp;r</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="@Url.Content("~/Content/pics/12901294_1164702130261398_2223887893737270155_o.jpg")" alt="" />
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content">
                            <h3 class="title">ANGELICA</h3>
                            <small class="post">&nbsp;</small>
                            <small>Email: <b>mail@example.com</b></small>
                        </div>
                        <div class="team-layer">
                            <a href="#">ANGELICA T. BAGAIN</a>
                            <span class="post">&nbsp;</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="@Url.Content("~/Content/pics/600491_534324089965976_375249715_n.jpg")" alt="" />
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content">
                            <h3 class="title">CLOONIE</h3>
                            <small class="post">&nbsp;</small>
                            <small>Email: <b>mail@example.com</b></small>
                        </div>
                        <div class="team-layer">
                            <a href="#">CLOONIE REIN M. RAMOS</a>
                            <span class="post">&nbsp;</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="@Url.Content("~/Content/pics/16832286_1238843392903026_316358191830042247_n.jpg")" alt="" />
                            <ul class="social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content">
                            <h3 class="title">CLAUDINE</h3>
                            <small class="post">&nbsp;</small>
                            <small>Email: <b>mail@example.com</b></small>
                        </div>
                        <div class="team-layer">
                            <a href="#">CLAUDINE T. ANCHETA</a>
                            <span class="post">&nbsp;</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

