@model EmployeeInformationManagementSystem.Models.EmployeeTeachingExperience

@{
    ViewBag.Title = "Update Teaching Experience";
}

<section class="content-header">
    <h1>
        &nbsp;
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-child"></i> Employee</li>
        <li><i class="fa fa-list-alt"></i> List of Employees</li>
        <li><i class="fa fa-info-circle"></i> Employee Details</li>
        <li class="active"><i class="fa fa-edit"></i> Update Teaching Experience</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <form role="form">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Teaching Experience Information</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <div class="box-body">
                            @Html.HiddenFor(model => model.te_id)

                            <div class="form-group">
                                @Html.LabelFor(model => model.designation, htmlAttributes: new { @class = "control-label" }) <label class="required">*</label>
                                @Html.EditorFor(model => model.designation, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.designation, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.institution_location, htmlAttributes: new { @class = "control-label" }) <label class="required">*</label>
                                @Html.EditorFor(model => model.institution_location, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.institution_location, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.employment_date, htmlAttributes: new { @class = "control-label" }) <label class="required">*</label>
                                @Html.EditorFor(model => model.employment_date, new { htmlAttributes = new { @class = "form-control", @id = "datepicker" } })
                                @Html.ValidationMessageFor(model => model.employment_date, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.appointment_status, htmlAttributes: new { @class = "control-label" }) <label class="required">*</label>
                                @Html.EditorFor(model => model.appointment_status, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.appointment_status, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.working_status, htmlAttributes: new { @class = "control-label" }) <label class="required">*</label>
                                @Html.EditorFor(model => model.working_status, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.working_status, "", new { @class = "text-danger" })

                            </div>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </form>
        }
    </div>
</section>

