@model EmployeeInformationManagementSystem.Models.ApplicantEducationalBackground

@{
    ViewBag.Title = "Delete Educational Background";
}

<section class="content-header">
    <h1>
        <small><b>Are you sure you want to delete this?</b></small>
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-child"></i> Applicant</li>
        <li><i class="fa fa-list-alt"></i> List of Applicants</li>
        <li><i class="fa fa-info-circle"></i> Applicant Details</li>
        <li class="active"><i class="fa fa-trash"></i> Delete Educational Background</li>
    </ol>
</section>

<section class="invoice">
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                Educational Background Details
            </h2>
        </div>
    </div>

    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            <address>
                <strong>School</strong><br />
                @Html.TextBoxFor(model => model.school, new { @class = "form-control no-gray", @readonly = "readonly" })<br />
                <strong>School Level</strong><br />
                @Html.TextBoxFor(model => model.school_level, new { @class = "form-control no-gray", @readonly = "readonly" })<br />
                <strong>Year Graduated</strong><br />
                @Html.TextBoxFor(model => model.year_graduated, new { @class = "form-control no-gray", @readonly = "readonly" })<br />
                <strong>Honors</strong><br />
                @Html.TextBoxFor(model => model.honors, new { @class = "form-control no-gray", @readonly = "readonly" })<br />
            </address>
        </div>
    </div>

    <div class="row no-print">
        <div class="col-xs-12">
            <!--<a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a> -->
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color pull-right">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            }
        </div>
    </div>
</section>
<div class="clearfix"></div>

